<aside class="logo">

	{% if page.url == '/index.html' or page.url == '/' %}
		{% assign link = '/about' %}
		{% assign prompt = 'About the Author' %}
	{% else %}
		{% assign link = '/' %}
		{% assign prompt = 'Back to Index' %}
	{% endif %}

	<a href="{{ link | prepend: site.baseurl | prepend: site.url }}">
		<img src="{{ site.logo_url }}" alt="" class="logo-avatar">
	</a>
	<span class="logo-prompt code">{{ prompt }}</span>

</aside>

<!-- 카테고리 -->
<!-- <ul style="list-style: none; text-align: center;">
    
	{% assign pages_list = site.pages %}
	{% for node in pages_list %}
	  {% if node.title != null %}
		{% if node.layout == "category" %}
		  <li style="text-decoration: none; text-align: center; display: inline; "><a class="category-link {% if page.url == node.url %} active{% endif %}"
		  href="{{ site.baseurl }}{{ node.url }}" style="text-decoration: none; ">{{ node.title }}</a></li>
		{% endif %}
	  {% endif %}
	{% endfor %}
	
</ul> -->
