<nav class="nav">
  {% assign current = page.url | downcase | split: '/' %}
  <div class="nav-container">
    <!-- <a href="{{ site.baseurl }}/">
      <h2 class="nav-title">{{ site.title }}</h2>
    </a> -->
    <ul>
      <li><a href="{{ site.baseurl }}/" {% unless current[1] == "about" or current[1] == "tag" %} class="active" {% endunless %}>Blog</a></li>
      <li><a href="{{ '/tag' | prepend: site.baseurl }}" {% if current[1] == "tag" %} class="active" {% endif %}>Tag</a></li>
      <li><a href="{{ '/about' | prepend: site.baseurl }}" {% if current[1] == "about" %} class="active" {% endif %}>About</a></li>
    </ul>
  </div>
</nav>
<script>
  console.log(page.url)
</script>